i.mysize {
    font-size: 2em;
    align-items: center;
}
i.mysize:hover{
    color: blue;
}
i.temp{
    font-size: 2em;
    color:aliceblue;
}
i.temp:hover{
    color: blue;
}
.mainhead:hover{
    color: #0a82f1;
}
#features{
    color: aliceblue;
}
#paraone{
    color: aliceblue;
}
#paratwo{
    color: aliceblue;
}
#parathree{
    color: aliceblue;
}
#parafour{
    color: aliceblue;
}
#parafive{
    color: aliceblue;
}
#parasix{
    color: aliceblue;
}
#paraseven{
    color: aliceblue;
}
#paraeight{
    color: aliceblue;
}
/* #paraone:hover{
    color: blue;
}
#paratwo:hover{
    color: blue;
}
#parathree:hover{
    color: blue;
}
#parafour:hover{
    color: blue;
} */
#parafive:hover{
    color: blue;
}
#parasix:hover{
    color: blue;
}
#paraseven:hover{
    color: blue;
}
#paraeight:hover{
    color: blue;
}
.button_slide {
    color: #FFF;
    border: 2px solid #0a82f1;
    border-radius: 0px;
    /*padding: 18px 36px;*/
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #0a82f1;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  .slide_down:hover {
    box-shadow: inset 0 100px 0 0 #0a82f1;
  }

  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  